@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap");

:root {
  --pagina-padrao: #fff;
  /* --page-dark: */
  --pagina-claro:#F5F5F5;
  --rodape-padrao: #eaf2fd;
  /* --footer-darK: */
  --texto-padrao: #464646;
  --texto-desfocado:#A2A2A2;
  --texto-destaque: #2a7ae4;
  --texto-claro: #fff;
  --botao-padrao: #2a7ae4;
  --botao-padrao-80:#5595E9;
  --botao-padrao-20:#D4E4FA;
}
*,
:after,
:before {
  font-family: "Raleway";
  box-sizing: border-box;
}
.page{
  color: var(--texto-padrao);
  font-family: "Raleway";
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .page{
    padding: 16px 32px;
  }
}

@media screen and (min-width: 1136px) {
.page{
  margin: 0px 100px;
  padding: 0px;
}
}
@keyframes moverAcima {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moverAbaixo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}
